<div>
  <h1>ARTIST INTRODUCTION</h1>
</div>

<div class="row">
  <div class="image-content col">
    <h2>Image</h2>
  </div>

  <div class="col">
    <p>
      Born in Brooklyn, New York in 1927, Alex Katz was raised by his Russian émigré parents, both of whom were
      interested in poetry and the arts. He studied at The Cooper Union Art School in Manhattan from 1946 to 1949 and at
      the Skowhegan School of Painting and Sculpture in Maine from 1949 to 1950. During his years at Cooper Union, Katz
      had been exposed primarily to modern art and was taught to paint from drawings. Skowhegan encouraged him to paint
      from life, which would prove pivotal in his development as a painter and remains a staple of his practices today.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Katz’s first one-person show was held at the Roko Gallery in 1954. Since then, his work has been the subject of
      more than 200 solo exhibitions and nearly 500 group exhibitions internationally. He has been honoured with
      numerous retrospectives at museums including the Whitney Museum of American Art, New York; Brooklyn Museum, New
      York; the Jewish Museum, New York; the Irish Museum of Modern Art, Dublin; Colby College Museum of Art, Maine and
      the Saatchi Gallery, London.</p>
  </div>
  <div class="col">
    <p>Works by Alex Katz can be found in over 100 public collections worldwide. Most notably, those in America include:
      The Art Institute of Chicago; The Brooklyn Museum; Carnegie Museum of Art, Pittsburgh; Des Moines Art Center; The
      Los Angeles County Museum of Art; The Metropolitan Museum of Art, New York; The Museum of Fine Arts, Boston; The
      Museum of Modern Art, New York; The National Gallery of Art, Washington, D.C.; National Museum of American Art,
      Smithsonian Institute; Philadelphia Museum of Art; and The Whitney Museum of American Art, New York. </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <p>Katz has received numerous accolades throughout his career. Most recently, he was the honored artist in the
      Chicago Humanities Festival’s Inaugural Richard Gray Annual Visual Arts Series in 2005, and received a Lifetime
      Achievement Award from the National Academy Museum, New York in 2007. He has two Honorary Doctorate degrees from
      Colby College (1984) and Colgate University (2005).</p>
  </div>
  <div class="image-content col">
    <h2>Image</h2>
  </div>
</div>






<!-- <div class="row">
  <div class="nebular-calendar col-md-12 col-lg-6 col-xxxl-4">
    <h2>
      Selected date: {{ date | date }}
    </h2>
    <nb-calendar [(date)]="date" [boundingMonth]="true"></nb-calendar>
  </div>
  <div class="nebular-calendar col-md-12 col-lg-6 col-xxxl-4">
    <h2>
      Selected range: {{ range.start | date }} - {{ range.end | date }}
    </h2>
    <nb-calendar-range [(range)]="range"></nb-calendar-range>
  </div>
  <div class="nebular-calendar col-md-12 col-lg-6 col-xxxl-4">
    <h2>
      Selected date: {{ date2 | date }}
    </h2>
    <nb-calendar
      [(date)]="date2"
      [dayCellComponent]="dayCellComponent"
    ></nb-calendar>
  </div>
</div> -->