<div class="key-series">
  <h1>PRODUCTION SERIES INTRODUCTION</h1>
  <p>Katz developed his signature flattened, boldly simplified style of figurative paintings in the 1950s amid the
    dominance of Abstract Expressionism in the American art scene. Though influenced by various elements of American and
    European modernism, he has avoided affiliation with any artistic group or movement. Portrait and natural landscape
    have remained the two primary subject matters in Katz's paintings, prints and sculptures throughout his career. </p>
</div>

<div class="row">
  <div class="col">
    <p>Katz began painting portraits of his friends and family—his wife Ada, in particular—with monochrome backgrounds
      in the late 1950s, which would become a defining characteristic of his style. In the early 1960s, influenced by
      films, television, and billboard advertising, Katz began painting large-scale paintings, often with dramatically
      cropped faces. After 1964 and into the 1970s, Katz increasingly portrayed groups of figures, depicting the social
      world of painters, poets, critics, and other colleagues that surrounded him. He then took on fashion models in
      designer clothing as a new subject in the 1980s. Beginning in 2010, Katz employed more drastic cropping of the
      individual portraits, and also composed paintings using multiple tightly cropped images of the same subject
      sequenced across the canvas similar to a filmstrip.</p>
  </div>
  <div class="col">
    <p>In his two most recent large-scale portrait series, Coca-Cola Girls (2018) and Calvin Klein Girls (2018), Katz
      found inspiration from the images of women in advertising art history. The Coca-Cola Girls, according to the
      artist, recalls the “blond girl in the red convertible” from the company’s commercials in the 1950s. </p>
    <p>
      The Calvin Klein Girls features models dressed in black cotton underwear against black monochrome background,
      inspired by Katz’s recent encounter with the company’s advertising video on taxi. Katz has also produced many
      series of portrait paintings as the central subjects for solo exhibitions in the past, including Man in White
      Shirt (2005), Subject to Reversal (2008), Face the Music (2011), Naked Beauty (2011), Red Hat (2014), Black
      Paintings (2015), and Dancers (2017).
    </p>
  </div>
</div>
<div class="row image-content">
  <h1>image</h1>
</div>
<div class="row image-content">
  <h1>image</h1>
</div>
<div class="row image-content">
  <h1>image</h1>
</div>









<!-- <div class="infinite-cards row">
  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card class="own-scroll">
      <nb-card-header>Own Scroll</nb-card-header>
      <nb-list
        nbInfiniteList
        [threshold]="500"
        (bottomThreshold)="loadNext(firstCard)">
        <nb-list-item *ngFor="let newsPost of firstCard.news">
          <ngx-news-post [post]="newsPost"></ngx-news-post>
        </nb-list-item>
        <nb-list-item *ngFor="let _ of firstCard.placeholders">
          <ngx-news-post-placeholder></ngx-news-post-placeholder>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-header>Window Scroll</nb-card-header>
      <nb-list
        nbInfiniteList
        listenWindowScroll
        [threshold]="500"
        (bottomThreshold)="loadNext(secondCard)">
        <nb-list-item *ngFor="let newsPost of secondCard.news">
          <ngx-news-post [post]="newsPost"></ngx-news-post>
        </nb-list-item>
        <nb-list-item *ngFor="let _ of secondCard.placeholders">
          <ngx-news-post-placeholder></ngx-news-post-placeholder>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
</div> -->