<h4>From 2017 to 2018, Alex Katz’s auction sales increased by 200%. This unprecedented growth is due to the increased
  supply and recognition of his best-selling series, Ada, and the positive reception of Coca-Cola Girls and Calvin Klein
  Girls.</h4>
<div class="row icon-comp">
  <div class="col">
    <p>Overall, Alex Katz had a remarkable career art auction sale performance, with total sales summing to $42,971,759
      and
      a sell-through rate of 86%, indicating high demand for his work. Moreover, the 2018 sale ($7,277,422) generated
      17% of
      his career total sales over 34 years, 50 sold artworks with an average hammer price of $145,548.44 . His
      best-selling
      “Ada” and “Flower” series, have totalled to $9.32M, which constitutes approximately one fourth of his total sales.
      In
      2017 and 2018, multiple major media agencies such as The New Yorker, New York Times, The Guardian and Financial
      Times
      featured interviews Katz in anticipation of his book Looking at Art with Alex Katz as well as to promote his
      gallery
      exhibitions for Coca-Cola Girls and Calvin Klein Girls. The increase in media coverage of Alex Katz in the past
      two
      years likely had a positive impact on his art market performance. Therefore, it is recommended to invest in Katz’s
      “Ada” or “Flower” series works produced between (2000-2010) on the US art market auction market through Christie’s
      and
      Sotheby’s, as three of the top five highest-sold paintings were part of these two series in recent years.</p>
  </div>
  <div class="col">

  </div>
</div>









<!-- <div class="accordions-container row">
  <div class="accordion-container col-md-12 col-lg-6 col-xxxl-6">
    <nb-card>
      <nb-card-header>Toggle Accordion By Button</nb-card-header>
      <nb-card-body>
        <button nbButton (click)="toggle()">Toggle First Item</button>
      </nb-card-body>
    </nb-card>

    <nb-accordion>
      <nb-accordion-item #item>
        <nb-accordion-item-header>
          Product Details
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Reviews
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Edit
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>

  <div class="accordion-container col-md-12 col-lg-6 col-xxxl-6">
    <nb-accordion multi>
      <nb-accordion-item>
        <nb-accordion-item-header>
          Product Details
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Reviews
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>

      <nb-accordion-item>
        <nb-accordion-item-header>
          Edit
        </nb-accordion-item-header>
        <nb-accordion-item-body>
          A nebula is an interstellar cloud of dust, hydrogen, helium and other ionized gases.
          Originally, nebula was a name for any diffuse astronomical object,
          including galaxies beyond the Milky Way.
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div> -->