<h4>MARKET OUTLOOK</h4>
<div class="row icon-comp">

</div>
<div class="col">

  <p>
    Overall the US art market is constantly growing on a year-to-year basis, until it reached its highest ever level of
    $27.3 billion. After a sale drop in 2016 due to an political climate and limited supply, the US regained its
    position by reaching a total sale of $26.6 billion in 2017, the strong sales in the Contemporary and Modern sectors
    had a major influence on this increase.
  </p>

  <p>
    The US art market stays as the largest center for sales of Post-War and Contemporary art in 2017. Its market share
    increased by 6%, where the volume of sales dropped by around 18%. In the rapid growth of the last five years, the
    2017 market returned to growth, increasing by 29% from 2016 to 2.6 billion. This sector’s sale have grown for 300%
    since the US market were at the bottom in 2009, at $704M.
  </p>
</div>
<div class="col">

</div>

<div class="row icon-comp">
  <div class="col">
    <p>In the last decade, the growth of the global art market has increased by 61.3% in terms of its values and by
      25.8% in volume. The volume of sales (number of transactions) grew more moderately than values did, at 8%
      year-on-year, indicating that price increases in some sectors also explain the advances in the market value. The
      number of transactions reached an estimated 39 million, its peak level since 2008.</p>
    <p>
      As well, the antiques and decorative art sector, the contemporary art sector, the modern art sector, and other
      fine art sectors have all experienced growth in sales in 2018 relative to 2017. This art sector was the largest
      fine art auction market in 2017, representing 46% of its value and 45% of its losts sold. Also, it also has the
      most volatile growth among the other sectors which sales boomed up to 2007, by 450% form 2003. This reality is
      clearly illustrated by the overall price evolution for the different artistic periods.
    </p>
    <p>
      In regards to future prospects of the potential of the global art market, 51% of dealers foresee an increase in
      sales in the art market in 2018 and 59% see an increase over the next five years. In sum, dealers are generally
      optimistic about sales over the next five years, with an even higher majority of 66% predicting an increase, and
      only 6% predicting a decline.
    </p>
  </div>
  <div class="col">

  </div>
</div>









<!-- <div class="row">
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <nb-card>
      <nb-card-header>Progress Bar Status</nb-card-header>
      <nb-card-body>
        <nb-progress-bar [value]="20" status="primary">primary</nb-progress-bar>
        <nb-progress-bar [value]="40" status="info">info</nb-progress-bar>
        <nb-progress-bar [value]="60" status="success">success</nb-progress-bar>
        <nb-progress-bar [value]="80" status="warning">warning</nb-progress-bar>
        <nb-progress-bar [value]="100" status="danger">danger</nb-progress-bar>
      </nb-card-body>
    </nb-card>
    <ngx-interactive-progress-bar></ngx-interactive-progress-bar>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <nb-card>
      <nb-card-header>Progress Bar Size</nb-card-header>
      <nb-card-body>
        <nb-progress-bar [value]="20" size="xs">xs</nb-progress-bar>
        <nb-progress-bar [value]="40" size="sm">sm</nb-progress-bar>
        <nb-progress-bar [value]="60">none</nb-progress-bar>
        <nb-progress-bar [value]="80" size="lg">lg</nb-progress-bar>
        <nb-progress-bar [value]="100" size="xlg">xlg</nb-progress-bar>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Progress Bar Value</nb-card-header>
      <nb-card-body>
        <nb-progress-bar [value]="40" status="primary" [displayValue]="true"></nb-progress-bar>
        <nb-progress-bar [value]="60" status="primary">Custom value</nb-progress-bar>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->