<div class="row hammer-price">
  <div class="col">
    <nb-card>
      <nb-card-header>HAMMER PRICE EVOLUTION</nb-card-header>
      <nb-card-body>
        <ngx-stats-bar-animation-chart [linesData]="linesData"></ngx-stats-bar-animation-chart>
      </nb-card-body>
    
    <h1>Alex Katz’s paintings’ market price are consistently evolving throughout the years on the secondary market.
    </h1>

    <p>Alex Katz debuted his art market auction sale in 1984. In the early stages of his auction career, his average
      volume of supply was at 10 paintings per year with approximately 93% unsold.
      In 2001, Katz ’s total auction sales ($929,500) rose past previous years’ performance by $794,500. This growth was
      due to the sale of his artwork called Self-Portrait (Cigarette), which sold for $600,000, ranking the third
      highest price among his best-sold paintings. In 2007, Katz’ total auction sales of $2,110,087 surpassed the
      $2M-line and outperformed the annual top-estimate line by $591,358 due to the sale of Red Tulips for $580,000,
      which ranked fourth among his best-sold paintings.</p> 
    </nb-card>
    </div>

  <div class="col">
        <!-- content to be added -->
  </div>

  </div>










  <!-- <div class="row">
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Default Inputs</nb-card-header>
      <nb-card-body>
        <div class="input-group">
          <input type="text" nbInput fullWidth placeholder="Project">
        </div>
        <div class="row full-name-inputs">
          <div class="col-sm-6 input-group">
            <input type="text" nbInput fullWidth placeholder="Nick">
          </div>
          <div class="col-sm-6 input-group">
            <input type="text" nbInput fullWidth placeholder="Last Name">
          </div>
        </div>
        <div class="input-group">
          <input type="password" nbInput fullWidth placeholder="Password">
        </div>
        <div class="input-group has-person-icon">
          <input type="text" placeholder="With Icon" class="form-control"/>
        </div>
        <div class="input-group">
          <input type="text" nbInput fullWidth shape="rectangle" placeholder="Rectangle border">
        </div>
        <div class="input-group">
          <input type="text" nbInput fullWidth shape="semi-round" placeholder="Semi-round border">
        </div>
        <div class="input-group">
          <input type="text" nbInput fullWidth shape="round" placeholder="Rounded border">
        </div>
        <div class="input-group">
          <input type="text" nbInput fullWidth placeholder="Disabled input" disabled/>
        </div>
        <div class="input-group">
          <textarea rows="5" nbInput fullWidth shape="round"  placeholder="Text Area"></textarea>
        </div>
        <div class="input-group input-group-sm">
          <input type="text" nbInput fullWidth fieldSize="small"  placeholder="Small Input">
        </div>
        <div class="input-group input-group-lg">
          <input type="text" nbInput fullWidth fieldSize="medium"  placeholder="Medium Input">
        </div>
        <div class="input-group input-group-lg">
          <input type="text" nbInput fullWidth fieldSize="large"  placeholder="Large Input">
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Validation States</nb-card-header>
      <nb-card-body>
        <div class="form-group">
          <input type="text" nbInput fullWidth status="info"  placeholder="Input with Info">
        </div>
        <div class="form-group">
          <input type="text" nbInput fullWidth status="success"  placeholder="Input with Warning">
        </div>
        <div class="form-group">
          <input type="text" nbInput fullWidth status="warning"  placeholder="Input with Danger">
        </div>
        <div class="form-group">
          <input type="text" nbInput fullWidth status="danger" placeholder="Input with Danger">
        </div>
        <div class="form-group validation-checkboxes row">
          <nb-checkbox status="success" class="col-sm-4">Checkbox with Success</nb-checkbox>
          <nb-checkbox status="warning" class="col-sm-4">Checkbox with Warning</nb-checkbox>
          <nb-checkbox status="danger" class="col-sm-4">Checkbox with Danger</nb-checkbox>
        </div>
      </nb-card-body>
    </nb-card>

    <nb-card>
      <nb-card-header>Checkboxes & Radios</nb-card-header>
      <nb-card-body>
        <div class="row demo-checkboxes-radio">
          <div class="demo-checkboxes col-sm-4">
            <nb-checkbox>Checkbox 1</nb-checkbox>
            <nb-checkbox [value]="true">Checkbox 2</nb-checkbox>
          </div>
          <div class="demo-radio col-sm-4">
            <nb-radio-group [(value)]="radioGroupValue">
              <nb-radio
                [value]="'This is value 1'">
                Radio 1
              </nb-radio>
              <nb-radio
                [value]="'This is value 2'">
                Radio 2
              </nb-radio>
              <nb-radio
                [value]="'This is value 3'">
                Radio 3
              </nb-radio>
            </nb-radio-group>
          </div>
          <div class="demo-disabled-checkbox-radio col-sm-4">
            <nb-checkbox disabled>Disabled Checkbox</nb-checkbox>
            <nb-radio-group disabled>
              <nb-radio
                [value]="'Disabled Value'">
                Disabled Radio
              </nb-radio>
            </nb-radio-group>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div> -->