<!-- <div class="row hammer-price">
  <h4>Alex Katz’s artwork shows lower volatility in recent years compared to auction houses’ estimation pricing and
    negative correlation with stocks and gold, making a great addition to investors’ diversified portfolio. </h4>
  <div class="col">
    <nb-card>
      <nb-card-header>HAMMER PRICE VS. LOW ESTIMATE PRICE</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>

      <p>In the beginning of his auction art market career from 1984-2004, Alex Katz’s yearly average artwork’s hammer
        price was consistently sold around 5% above the auction houses’ low estimate price</p>
      <p>
        From 2005-2007, on average, the hammer price was at 150% above the low-estimate line, where it reached its
        highest peak in 2007 at around 187% beyond the low estimate price.In 2008, the auction houses’ estimation was
        under the low-estimate line at around 50%. In 2009-2018, the average hammer-low proportion was at ±5% above the
        auction houses’ estimation.
      </p>
    </nb-card>
  </div>

  <div class="col">
    <nb-card>
      <nb-card-header></nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>

</div> -->


<div class="row hammer-price">
  <h4>Alex Katz’s artwork shows lower volatility in recent years compared to auction houses’ estimation pricing and
    negative correlation with stocks and gold, making a great addition to investors’ diversified portfolio. </h4>
  <div class="col">
    <nb-card>
      <nb-card-header>HAMMER PRICE VS. LOW ESTIMATE PRICE</nb-card-header>
      <nb-card-body>
        <ngx-chartjs-line></ngx-chartjs-line>
      </nb-card-body>

      <p>In the beginning of his auction art market career from 1984-2004, Alex Katz’s yearly average artwork’s hammer
        price was consistently sold around 5% above the auction houses’ low estimate price</p>
      <p>
        From 2005-2007, on average, the hammer price was at 150% above the low-estimate line, where it reached its
        highest peak in 2007 at around 187% beyond the low estimate price.In 2008, the auction houses’ estimation was
        under the low-estimate line at around 50%. In 2009-2018, the average hammer-low proportion was at ±5% above the
        auction houses’ estimation.
      </p>
      <p>
        Through the graph we observe that Alex’s price/cm² change has a standard deviation of 0.60 from the mean of
        25.70%. This is only slightly higher compared to the S&P, Gold and FTSE which have a standard deviation of 0.17,
        0.16 and 0.14 from their mean of 3.90%, 8.25% and 2.50% respectively. From 2001 to 2009, the volatility in
        Alex’s ratio of price to cm² is 0.78. This majorly reduces by 56% to 0.34 in 2010 to 2018. This trend showcases
        the steadiness and reduction in volatility that Alex’s works have and could continue to face. This will make it
        a more stable instrument to invest in.
      </p>
    </nb-card>
  </div>

  <div class="col">
    <!-- content to be added -->
    <nb-card>
      <nb-card-header></nb-card-header>
      <nb-card-body>
        <ngx-chartjs-bar></ngx-chartjs-bar>
      </nb-card-body>
    </nb-card>
  </div>

</div>









<!-- <div class="row">
  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card>
      <nb-card-header>Open Dialog</nb-card-header>
      <nb-card-body>
        <button nbButton (click)="open()">Open Dialog with component</button>

        <button nbButton (click)="open2(dialog)">Open Dialog with template</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card>
      <nb-card-header>Open Without Backdrop</nb-card-header>
      <nb-card-body>
        <button nbButton (click)="open()">Open Dialog with backdrop</button>

        <button nbButton (click)="openWithoutBackdrop(dialog)">Open Dialog without backdrop</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card>
      <nb-card-header>Open Without Esc Close</nb-card-header>
      <nb-card-body>
        <button nbButton (click)="open()">Open Dialog with esc close</button>

        <button nbButton (click)="openWithoutEscClose(dialog)">Open Dialog without esc close</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card>
      <nb-card-header>Open Without Backdrop Click</nb-card-header>
      <nb-card-body>
        <button nbButton (click)="open()">Open Dialog with backdrop click</button>

        <button nbButton (click)="openWithoutBackdropClick(dialog)">Open without backdrop click</button>
      </nb-card-body>
    </nb-card>
  </div>

  <div class="col-md-12 col-lg-6 col-xxxl-3">
    <nb-card class="form-input-card">
      <nb-card-header>Return Result From Dialog</nb-card-header>
      <nb-card-body class="result-from-dialog">
        <button nbButton (click)="open3()">Enter Name</button>
        <br>
        <h3 class="title">Names:</h3>
        <ul>
          <li *ngFor="let name of names">{{ name }}</li>
        </ul>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>Template Dialog</nb-card-header>
    <nb-card-body>{{ data }}</nb-card-body>
    <nb-card-footer>
      <button nbButton (click)="ref.close()">Close Dialog</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
 -->