@import '../../../@theme/styles/themes';

@include nb-install-component() {
  .inputs-group-margin-bottom {
    margin-bottom: 2rem;

    &:last-child {
      margin: 0;
    }
  }
}
.icon-comp h6{
  padding: 17px;
}
.icon-comp p{
  font-size: 16px;
  padding: 15px;
  line-height: 25px;
}