<!-- <div class="row">
    <ngx-nebular-select></ngx-nebular-select>
</div> -->

<h4>COLLECTOR TAKEAWAY</h4>
<div class="row icon-comp">
    <div class="col">
        <p>Katz’s 2018 yearly auction sale marks up for 17% its career auction sale since 1984.</p>
        <p>High potential to surpass the last annual auction sale peak (2014) and investors expectations of reduced
            turbulence in sell-through rate as a result of the increased supply on the secondary market and media
            exposure from commercial brands.</p>
        <p>Strong investor confidence on Katz’s flower paintings from 1984-2014. However, bearish investment on the
            recent supply on the secondary market after the supply break.</p>
    </div>
    <div class="col">
        <p>Katz achieved great public prominence in the 1980s. He is well known for his large-scale paintings with bold
            simplicity and intense colours.
        </p>
        <p> Portrait and natural landscape have been Katz’s two primary subjects since the beginning of his career.
        </p>
        <p>
            The Colby College Museum of Art opened a 10,000-square-foot wing dedicated to Katz that features more than
            400 oil
            paintings, collages, and prints donated by the artist in 1996. It is one of the few wings of a museum in the
            United
            States devoted solely to the work of a single living artist.
        </p>
    </div>
</div>