<div class="row">
    <h1>
        Katz’s annual volume sale and sell-through rate from 1984-2018
    </h1>  
    <p>From 1984-2000, Katz’s volume of supply on the secondary market was at around 10 paintings/year where the sell-through rate was at 88%. In the following ten years, his supply of paintings on the secondary market grew to 18 paintings/year with a reduced rate of unsold paintings at 80%, since half of his paintings did not sell in 2008. In the past 5 years, his average paintings supplied on the auction houses was at 27 paintings with a sell-through rate of 88%. </p>
  
    <p>Overall, from 1984-2018, his total sales are at $42,971,759 which is $867,316 above the total low estimate price at $42,104,443, and around $16,801,750 short of his total high estimate price, at $59,773,509. Around 86％ of the Katz's 660 paintings produced were sold on the secondary market. Therefore, responding to Katz’s dominant auction sale performance and sell-through rate throughout his career and strong sales activity in 2018, investor interest in Katz’s artwork on the secondary market significantly increased.</p> 
  </div>





<!-- <div class="row">
  <div class="col-lg-12">
    <ngx-hero-buttons></ngx-hero-buttons>
    <ngx-default-buttons></ngx-default-buttons>
    <ngx-outline-buttons></ngx-outline-buttons>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-shape-buttons></ngx-shape-buttons>
    <ngx-action-groups></ngx-action-groups>
    <ngx-labeled-actions-group></ngx-labeled-actions-group>
  </div>
  <div class="col-md-12 col-lg-12 col-xxxl-6">
    <ngx-size-buttons></ngx-size-buttons>
    <ngx-button-elements></ngx-button-elements>
  </div>
</div> -->
